<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/681846/pexels-photo-681846.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
  <div class="banner-content">
      <h3>Add The Ingredients:</h3>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, "Add It!", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Go Back To List", cocktails_path , class: "btn btn-warning"%>

  </div>
</div>

